
.partners {

  &__title {
    font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $main-color;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  }

  &__image {

    max-height: 600px;
    overflow: auto;
    // width: 375px;

      @media (min-width: $breakpoint-md) {
        display: flex;
        overflow: visible;
        max-height: none;
        
        flex-wrap: wrap;
      }

      @media (min-width: $breakpoint-xxl) {
        max-width: 1720px;
        margin: 0 auto;
      }
    }



    &__image-item {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: $breakpoint-md) {
        flex: 1 1 33%;
      }

      @media (min-width: $breakpoint-lg) {
        flex: 1 1 25%;
      }
      

      &:nth-child(1) {
        background: #1C4280;
      }


      &:nth-child(2) {
        background: #143646;
      }

      &:nth-child(3) {
        background: #F48B30;
      }

      &:nth-child(4) {
        background: #9E4DC3;
      }

      &:nth-child(5) {
        background: #FD9339;
      }

      &:nth-child(6) {
        background: #E2E2E4;
      }

      &:nth-child(7) {
        background: #C71C36;
      }

      &:nth-child(8) {
        background: #DCF3F9;
      }

      &:nth-child(9) {
        background: #EAEAEA;
      }

      &:nth-child(10) {
        background: #282240;
      }

      &:nth-child(11) {
        background: #1D4568;
      }

      &:nth-child(12) {
        background: #000000;
      }

      
    }


    
    

    
}


