
.partners {

  &__title {
    font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $main-color;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  }

  &__image {

    max-height: 600px;
    overflow: scroll;
    // width: 375px;

      @media (min-width: $breakpoint-md) {
        // display: flex;
        overflow: visible;
        // width: 256px;
      }
    }



    &__image-item {
      object-fit: cover;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      

      &:nth-child(1) {
        background: #1C4280;
      }


      &:nth-child(2) {
        background: #143646;
      }

      &:nth-child(3) {
        background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
      }

      &:nth-child(4) {
        background: #9E4DC3;
      }

      &:nth-child(5) {
        background: #FD9339;
      }

      &:nth-child(6) {
        background: #E2E2E4;
      }

      &:nth-child(7) {
        background: #C71C36;
      }

      &:nth-child(8) {
        background: #DCF3F9;
      }

      &:nth-child(9) {
        background: #EAEAEA;
      }

      &:nth-child(10) {
        background: #282240;
      }

      &:nth-child(11) {
        background: #1D4568;
      }

      &:nth-child(12) {
        background: #000000;
      }

      @media (min-width: $breakpoint-md) {
        flex: 1 1 25%;
        

        // &:nth-child(1) {
        //   flex: 1 1 25%;
        // }
  
  
        // &:nth-child(2) {
        //   flex: 1 1 25%;
        // }
  
        // &:nth-child(4) {
        //   flex: 1 1 25%;
        // }

        // &:nth-child(5) {
        //   flex: 1 1 25%;
        // }

        // &:nth-child(6) {
        //   flex: 1 1 25%;
        // }

        // &:nth-child(7) {
        //   flex: 1 1 25%;
        // }

        // &:nth-child(8) {
        //   flex: 1 1 25%;
        // }

        // &:nth-child(9) {
        //   flex: 1 1 25%;
        // }

        // &:nth-child(10) {
        //   flex: 1 1 25%;
        // }

        // &:nth-child(11) {
        //   flex: 1 1 25%;
        // }

        // &:nth-child(12) {
        //   flex: 1 1 25%;
        // }

      }
    }


    
    

    
}


